<!DOCTYPE html>
<html>
<head>
<title>Fannie Mae Performance Viewer</title>
<style>
body {
  font-family: sans-serif;
}

.section {
  width: 70%;
  float: left;
  padding: 50px;
  height: 450px;
}

.first-section {
  background-color: #ccc;
}

.second-section {
  background-color: #eee;
}

.third-section {
  background-color: #ddd;
}
</style>
</head>
<body>
<div class="section first-section">
  <h1>Introduction</h1>
  <p>The Fannie Mae Performance Viewer (RMP Viewer) is a web-based tool that provides residential mortgage performance data for investors and mortgage-backed securities. The data is provided by the Fannie Mae and includes information on delinquency, foreclosure, and loan modifications.
<br><br>
The RMP Viewer can be used to track the performance of mortgage loans over time and to compare the performance of loans with different charactertistics. It can also be used to identify areas of risk for the RMBS market.
<br><br>
The FM Viewer is a valuable tool for investors, regulators, and other stakeholders who want to understand the performance of the RMBS market. It provides a comprehensive and up-to-date source of data on RMBS performance, and it can be used to make informed decisions about RMBS investments.</p>
</div>
<div class="section second-section">
  <h1>Risk Analyzer For Mortgage Delinquency</h1>
  <p>The risk analyzer page can be used by investors to make more informed investment decisions. By understanding the borrower's risk of default, investors can better understand why some loans perform better or worse than others.</p>
  <p><a href="/fannie-mae-viewer/riskanalyzer">Risk Analyzer Page</a></p>
</div>
<div class="section third-section">
  <h1>Mortgage Performance Visualizations across different characteristics</h1>
  <p>More details to come.</p>
</div>
</body>
</html>